@import "tailwindcss";
@layer components {
  .nav-link {
    @apply transition-all duration-300 hover:text-orange-400 hover:tracking-wider;
  }

  .icon-hover {
    @apply transition-all duration-300 hover:text-orange-400 hover:scale-125;
  }

  .card-hover {
    @apply transition-all duration-500 hover:-translate-y-3 hover:scale-105;
  }
  .text-hover {
    @apply transition-all duration-300 hover:text-orange-400 hover:tracking-wider;
  }
 .my-masonry-grid {
  display: flex;
  margin-left: -24px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 24px;
  background-clip: padding-box;
}

.my-masonry-grid_column > * {
  margin-bottom: 24px;
}
}